<% if(message && message.length >0){ %>
    <div class="alert alert-warning alert-dismissible" style= "position: absolute;
	top: 0px;
	right: 1%;
	height: 100px;
	width: 400px;
	z-index: 99;">
        <button type="button" id="btn" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

        </button>
        <%= message %>
    </div>
    <% } %>
<% layout("layout") -%>

  <div class="container">
    <div class="panel panel-info" id="myScrollspy" style="padding: 10px; margin-top: 80px; height:460px;">
      <div class="table-responsive">
        <div style="overflow-y: scroll; height:350px; ">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="color: #ffffff; background-color: #020531;">Registration #</th>
                <th style="color: #ffffff; background-color: #020531;">Name</th>
                <th style="color: #ffffff; background-color: #020531;">Status</th>
                <th style="color: #ffffff; background-color: #020531;">Date Submitted</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2018-00000</td>
                <td>Jose Carlo R. San Pedro</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00001</td>
                <td>Chelzea Salvador</td>
                <td>Enrolled</td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00002</td>
                <td>Nicho Guimbaolibot</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Jose Carlo R. San Pedro</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00001</td>
                <td>Chelzea Salvador</td>
                <td>Enrolled</td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00002</td>
                <td>Nicho Guimbaolibot</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Jose Carlo R. San Pedro</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00001</td>
                <td>Chelzea Salvador</td>
                <td>Enrolled</td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00002</td>
                <td>Nicho Guimbaolibot</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00001</td>
                <td>Chelzea Salvador</td>
                <td>Enrolled</td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00002</td>
                <td>Nicho Guimbaolibot</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Jose Carlo R. San Pedro</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00001</td>
                <td>Chelzea Salvador</td>
                <td>Enrolled</td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00002</td>
                <td>Nicho Guimbaolibot</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00000</td>
                <td>Jose Carlo R. San Pedro</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00001</td>
                <td>Chelzea Salvador</td>
                <td>Enrolled</td>
                <td>April 2, 2018</td>
              </tr>
              <tr>
                <td>2018-00002</td>
                <td>Nicho Guimbaolibot</td>
                <td>Pending
                  <i class="fa fa-edit"></i>
                </td>
                <td>April 2, 2018</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>