<div class="container">
  <div class="row">
    <br>
    <div class="col-md-3 panel panel-info" id="myScrollspy" style="padding-left: 0px; padding-right: 0px;">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" align="center">
        <li>
          <a style="color: #ffffff; background-color: #020531;">Admin Dashboard</a>
        </li>
        <li>
          <a href="/users/new">Create new Account</a>
        </li>
        <li>
          <a href="/manageaccount">Manage Account</a>
        </li>
        <li>
          <a href="/postnewsandannouncements">Post News and Announcements</a>
        </li>
        <li>
          <a href="/managenewsandannouncements">Manage News and Announcements</a>
        </li>
        <!-- <li><a href="#1D">Manage Content</a></li> -->
        <!-- <li><a href="#1D">Manage Gallery</a></li> -->
        <li>
          <a href="/manage">Manage Registration</a>
        </li>
        <li>
          <a href="/managepubs">Manage Publications</a>
        </li>
        <li>
          <a href="/studentlist">View Student Grades</a>
        </li>
        <li>
          <a href="/vmos">VMOS</a>
        </li>
        <li>
          <a href="/enrollment">Manage Enrollment</a>
        </li>
        <li>
          <a href="/manage-faculty">Manage Faculty</a>
        </li>

        <li>
          <a href="/edit-profile">Account Settings</a>
        </li>
        <li>
          <br>
        </li>
      </ul>
    </div>
  </div>
</div>