<footer overflow-x: hidden; style="background-size: cover; background-color: #eef3fc; margin: 0%; padding-top:3%; padding-bottom:3%;">
  <div class="col-lg-4">
    <img src="/images/Sunbeam.png" width=36% height=36% class="img-responsive" style="padding-right: 15px;float:left;">
    <p style="padding-top: 3%;font-size: 20px; font-weight: bold;">PBC Sunbeam School Inc.</p>
    <p style="font-size: 15px;">Excellence in Education,</p>
    <p style="font-size: 15px;">Anchored in Christian Values</p>
  </div>
  <div class="col-lg-4" style="text-align:center;">
    <p style="padding-top: 3%;font-size: 20px; font-weight: bold;">
      <span class="fa fa-location-arrow" style="padding-right:3%;"></span>Visit Us</p>
    <p style="font-size: 15px;">Bintog, Plaridel, Bulacan</p>
    <p style="font-size: 15px;">facebook.com/PBC Sunbeam School</p>
  </div>
  <div class="col-lg-4" style="text-align:center;">
    <p style="padding-top: 3%;font-size: 20px; font-weight: bold;">
      <span class="glyphicon glyphicon-envelope" style="padding-right:3%;"></span>Contact Us</p>
    <p style="font-size: 15px;">795-2753, 797-8679, 797-3005</p>
    <p style="font-size: 15px;">pbcssinc@gmail.com</p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <center>
        <p>Copyright &copy; PBC Sunbeam School Inc. 2018</p>
      </center>
    </div>
  </div>
</footer>