<a class="scrollup" title="Go to top"><i class="fa fa-scrollup fa-angle-up"></i></a>

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

<script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
<script src="/js/function.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/scrolltop.js"></script>