<div class="col-md-12 panel panel-info" id="myScrollspy" style="padding-left: 0px; padding-right: 0px;">
  <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" align="center">
    <li>
      <a style="color: #ffffff; background-color: #020531;">Student Dashboard</a>
    </li>
    <li>
      <a href="/viewgrade">View Grades</a>
    </li>
    <li>
      <a href="/createliteraryworks">Create a Literary Works</a>
    </li>
    <li>
        <a href="/myliterary">My Literary Works</a>
      </li>
    <li>
      <a href="/edit-profile">Account Settings</a>
    </li>
    <li>
      <br>
    </li>
  </ul>
</div>