<% layout('layout') -%>
	<center>
		<!-- <div class="col-sm-4"> -->
		<div class="container">
			<div class="panel panel-info " style="width: 50%;">
				<div class="panel-heading " style="text-align:center;  ">
					<h4 style="color: white">
						Reset Password
					</h4>
				</div>
				<div class="panel-body ">
					<div class="row">
						<div class="col-md-12">
							<form action="/reset/<%= token %>" method="POST">
								<div class="form-group">
									<label for="password">New Password</label>
									<input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control" />
								</div>
								<div class="form-group">
									<label for="confirm">Confirm Password</label>
									<input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control" />
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary">Update Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>