<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            ACTIVITIES
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> CALENDAR OF ACTIVITIES </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <div class="row">
                <div class="col-sm-6">
                  <li>
                    <a data-toggle="modal" data-target="#nut" style="color:black">July - Nutrition Month Celebration</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#int" style="color:black">July - Investiture of Scouts, Indoor Camping for Grades 4-6</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#bw" style="color:black">August - Buwan ng Wika</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#camp" style="color:black">September - Indoor Camping for Highschool Students</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#cgw" style="color:black">October - Career Guidance Week</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#un" style="color:black">October - United Nations Celebration</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#smc" style="color:black">November - Scie-Math Celebration</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#sr" style="color:black">November - Spiritual Retreats for Graduating Students</a>
                  </li>
                </div>
                <div class="col-sm-6">

                  <li>
                    <a data-toggle="modal" data-target="#idc" style="color:black">December - Indoor Day Camp for Pre-Elementary and Primary Level</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#cc" style="color:black">December - Christmas Cantata and School Founding Anniversary</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#cp" style="color:black">December - Christmas Party</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#intra" style="color:black">January - Intramurals</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#ew" style="color:black">January - English Week</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#js" style="color:black">February - Junior and Senior Promenade</a>
                  </li>
                  <li>
                    <a data-toggle="modal" data-target="#rec" style="color:black">March - Recognition and Graduation Rites</a>
                  </li>
                </div>
              </div>
            </ul>

          </div>

        </div>
      </div>
    </div>



    <div class="modal fade" id="nut" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Nutrition Month Celebration
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/nutrition.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            The Nutrition Month celebration aims to mitigate the poor health conditions of many young people whose food preference include
            junk food, sugar-laden drinks and fat saturated fast food and street food products. Poor health is a major problem
            in the development of a strong and productive work force.
          </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="int" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Investiture of Scouts, Indoor Camping for Grades 4-6
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/int.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            Investiture Ceremony is one of the most important ceremonies in Scouting. It marks the formal acceptance of the boys in the
            movement after they have completed the requirements of membership and have fully understood its essence. It gives
            them the thrill of belonging to a group and makes them feel ready to face new responsibilities.</p>
          </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="bw" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Buwan ng Wika
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/buwan.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            Linguistics or the scientific study of language is greatly influenced by history, culture, social and political factors around
            the world. Here in the Philippines, the month of August is designated as Buwan ng Wika, which is celebrated month-long
            to promote the national language. </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="camp" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Indoor Camping for High School Students
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/hscamping.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            Indoor camping activities are yearly done with the following objectives:
            </br>
            • To improve social skills
            </br>
            • To provide new and positive experiences
            </br>
            • To build independence and ability to operate on their own or with different people.
          </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="cgw" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Career Guidance Week
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/cgw.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            During the Career Guidance Week, the school intensifies the conduct of awareness campaigns, career fairs, and orientation
            activities on the Senior High School program. During this period, an offline search facility shall be made accessible
            in the computer laboratories and terminals, wherein students can browse through the menu of track offerings as
            well as their respective programs.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="un" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            United Nations Celebration
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/un.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            United Nations Day is celebrated every October 24 in honor of the intergovernmental organization promoting human rights,
            social progress, and world peace. Here at PBCSSI, United Nations Day is celebrated by having students dress up
            in the national costumes or traditional clothing of different nations, and holding lessons about cultural diversity.
          </p>
        </div>
      </div>
    </div>
    <div class="modal fade" id="smc" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Scie-Math Celebration
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/sciemathweek.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            Science Week is an annual national celebration of the life-changing and fascinating worlds of science, technology, engineering
            and mathematics. The celebration highlights how science, technology and engineering are fundamental to everyday
            life, and demonstrate their importance to the future of our society and economy.
          </p>
        </div>
      </div>
    </div>
    <div class="modal fade" id="sr" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Spiritual Retreats for Graduating Students
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/spiritualretreat.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            A retreat is a time for recreation, reflection and reunion. Students often take part in different activities to help them
            develop their physical, social and team building skills. However the major focus of retreat is on spirituality,
            with students and teachers sharing liturgies, group discussions and individual reflections. The experience is
            overwhelmingly positive, with students and staff gaining new insights about themselves and each other.</p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="idc" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Indoor day camp for pre elementary and primary level
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/preelem.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            Indoor camping activities are yearly done with the following objectives:
            </br> • To improve social skills
            </br> • To provide new and positive experiences
            </br> • To build independence and ability to operate on their own or with different people.
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="modal fade" id="cc" role="dialog">
              <div class="modal-dialog modal-m">
                <div class="modal-content">
                  <div class="modal-header" style="padding: 3%">
                      Christmas Cantata and School Founding Anniversary
                  </div>
                  <img style="padding: 3%; border-radius: 30px;" src="images/activities/cantata.png " class="img-responsive" alt="">
                  <p>
                      This is the time of the year where the school celebrates its founding anniversary and prepares an extravagant performance for their Christmas Cantata. This performance is done to celebrate the birth of our Lord by having different acts and performances all from the students and different clubs of the school.
                  </p>  </div>
              </div>
            </div> -->

    <div class="modal fade" id="cc" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Buwan ng Wika
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/cantata.png " class="img-responsive" alt="">
          <p style="padding: 3%">

            This is the time of the year where the school celebrates its founding anniversary and prepares an extravagant performance
            for their Christmas Cantata. This performance is done to celebrate the birth of our Lord by having different
            acts and performances all from the students and different clubs of the school.
          </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="cp" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Christmas Party
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/xmas.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            Christmas parties are done just before the Christmas vacation of students. Each class organize a party in their room, to
            celebrate and socialize with their friends, classmates and teachers. These parties are subjected to the school
            policies.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="intra" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Intramurals
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/intramurals.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            Intramurals is done annually to provide a program of physical activities that contribute to the development and identity
            of student groups/societies on the school; To provide an opportunity for students to gain leadership skills,
            professional skills, and qualifications through participation in the program.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ew" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            English Week
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/english.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            The PBCSSI, celebrates the English Language by organising an English week wherein many literacy competitions were held and
            English-related activities were organised. It was a week of flurry and excitement, with the children being fruitfully
            engaged in various tasks.
          </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="js" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Junior and Senior Promenade
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/js.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            JS Prom also known as Junior and Senior Promenade is the most splendid moment for high school students to dress up formally,
            be with their friends and seize the very special time in their high school years. High school life wouldn’t be
            complete and more exciting without JS Prom. JS PROM is indeed very important for the students to try and experience.
            JS Prom is a time for students to learn on how to converse and mingle with people they are acquainted with and
            the strangers to them in a very formal occasion. Every student should join and experience JS prom for them to
            know the exact and proper table etiquettes and to heighten up their social skills and knowledge.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="rec" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            Recognition and Graduation Rites
          </div>
          <img style="padding: 3%; border-radius: 30px;" src="images/activities/graduation.png " class="img-responsive" alt="">
          <p style="padding: 3%">
            Recognition and Graduation Rites is one of the most important events in PBCSSI’s academic calendar, as it is the time when
            all the hard work and efforts of the students and graduates are acknowledged.
          </p>
        </div>
      </div>
    </div>