<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            ADMISSION GUIDELINES
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-3 panel panel-info" id="myScrollspy" style="padding-left: 0px; padding-right: 0px;">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" style="text-align: center;">
          <li>
            <a style="color: #ffffff; background-color: #020531;">Admission Guidelines</a>
          </li>
          <li>
            <a href="#1A">A. General Provisions</a>
          </li>
          <li>
            <a href="#1B">B. Enrollment Reservation</a>
          </li>
          <li>
            <a href="#1C">C. New Students and Transferees</a>
          </li>
          <li>
            <a href="#1D">D. Clearance</a>
          </li>
          <li>
            <a href="#1E">E. Promotion, Retention
              <br>and Summer</a>
          </li>
          <li>
            <a href="#1F">F. Transferees and
              <br>Transfer Credentials</a>
          </li>
          <li>
            <a href="#1G">G. Distribution of Cards</a>
          </li>
          <li>
            <br>
          </li>
        </ul>
      </div>
      <div class="col-lg-9" id="1A">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. General Provisions </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>A child is officially enrolled after he/she has submitted his valid admission requirements or transfer credentials,
                has paid the necessary school fees and is authorized to attend classes.</li>
              <li>Tuition fees may be paid in installments; however, miscellaneous fees and other fees must be paid in full during
                enrollment or through pay lite scheme.</li>
              <li>Enrollees shall be classified as:</li>
              <ol style="list-style-type: lower-alpha" ;>
                <li>Pupil – preschool or elementary grade.</li>
                <li>Student – secondary or high school.</li>
              </ol>
              <li>A child may withdraw enrollment within the first three weeks of the school year with the approval of school
                authorities and accomplishments of the proper clearance. He/ she is entitled to a refund of the tuition fee
                paid provided the payment was for the entire school year. If the payment was on a monthly basis, no refund
                shall be given. Miscellaneous fees are non-refundable. The refund schedule is as follows:</li>
              <ol style="list-style-type: lower-alpha" ;>
                <li>Within the first week of the school year – 80% of full/ semestral tuition payment.</li>
                <li>Within the second week of the school year – 60% of full/ semestral tuition fee.</li>
                <li>Within the third week of the school year – 40% of full/ semestral tuition fee</li>
                <li>Beyond the third week of the school year – no refund.</li>
              </ol>
              <li>A child may drop from enrollment after the third week of classes, provided:</li>
              <ol style="list-style-type: lower-alpha" ;>
                <li>It is approved by school authorities;</li>
                <li>The dropping date is not within the week before a periodical examination, in which case the child is mandated
                  to complete the requirements for the grading period.</li>
                <li>The tuition and miscellaneous fees and all other outstanding fees (past and/or current) are paid in full,
                  regardless of the date of dropping within the year.</li>
                <li>The dropping form has been satisfactorily completed. Until then, the child shall be required to attend classes
                  regularly.
                </li>
              </ol>
            </ul>

          </div>

        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9" id="1B">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. Enrollment Reservation </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All pupils and students are required to file their enrollment reservation for the next school year within the
                specified reservation period.</li>
              <li>Pupils and students who exhibit poor academic performance, habitual tardiness and absenteeism or behavioral
                problems may not be issued enrollment reservation forms pending proper evaluation by school authorities for
                admission to the next school year. If no reservation is issued, then the child is for non-admission and shall
                be advised to file for clearance.</li>
              <li>The school reserves the right to revoke any reservation of the pupil/student violates school rules and regulations.</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9" id="1C">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> C. New Students and Transferees </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>The following shall be the admission requirements for new pupils/students and transferees to the PBC Sunbeam
                School.
              </li>
              <ol style="list-style-type: lower-alpha" ;>
                <li>General average must be 80% or better and with passing conduct grade.</li>
                <li>Achieved a passing score in the school entrance examination.</li>
                <li>Form 138 (Report Card) and/or valid credentials of transfer eligibility and signed by the school head.</li>
                <li>Two (2) photocopies of birth certificate (please show original for verification)</li>
                <li>Letter of good moral character</li>
                <li>For foreign (non-Filipino) applicants:</li>
                <ul>
                  <li>DepEd grade/year level placement (if from a foreign school).</li>
                  <li>DepEd study permit</li>
                  <li>Certificate of naturalization of alien certificate of registration (ACR)</li>
                </ul>
              </ol>
              <li>A former PBCSSI pupil/student who wishes to transfer back to the school shall be considered as a new pupil/student.</li>
              <li>Any child who has not been previously enrolled in any preparatory course may be admitted to Grade 1 if he/she
                is 6 years old upon enrollment but should pass the assessment evaluation (written, oral).</li>
              <li>Acceleration to the next grade/level is allowed provided the students have been through the process/testing
                required.
              </li>
              <li>Generally speaking, the appropriate grade/year level shall be next curricular year abroad. For example, a pupil
                who has completed grade 5 in a foreign school shall be considered for grade 6 provided he passes the required
                entrance examination for that grade. However, the school reserves the right to determine the grade/year level
                of a foreign or special pupil/student based upon the results of the entrance examination and evaluation of
                his credentials. In addition, the following DepEd guidelines shall be observed for those who have studied
                abroad:
              </li>
              <ol style="list-style-type: lower-alpha;">
                <li>Completed a 5-year elementary course - eligible for grade 6.</li>
                <li>Completed grade 6-7 eligible for first year high school</li>
                <li>Completed grade 8 - eligible for second year high school with Filipino I and araling panlipunan I as additional
                  units.
                </li>
                <li>Completed grade 9 - eligible for third year high school with Filipino I and araling panlipunan I, and Filipino
                  II upon reaching fourth year.</li>
                <li>Completed grade 10 - eligible for fourth year high school with Filipino I and panlipunan I, Filipino II,
                  Filipino III and Filipino IV as requisites for graduation.</li>
              </ol>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9" id="1D">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> D. Clearance </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>The school requires all pupils and students to accomplish their clearance at the end of the school year or summer
              class and when applying for dropping from enrollment or transfer to another school. Until such clearance is
              completed and all accounts settled, no credentials shall be issued to the child.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9" id="1E">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> E. Promotion, Retention and Summer </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>For the secondary program, promotion to the next year level shall be by subject and number of units.</li>
              <li>A student who fails in three (3) or more units shall be retained in the same year level for the next school
                year.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9" id="1F">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> F. Transferees and Transfer Credentials </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Any bonafide pupil or student may apply for transfer to another school within the school year except within
                the period of one week before a periodical examination, in which case the child is mandated to complete the
                requirements for the grading period, in such case, the parent/guardian must confess with school authorities
                to request for transfer and accomplish the necessary clearance.</li>
              <li>Transfer credentials to be issued are the uncancelled report card with the elegibility to transfer duly signed
                by the school head. Credentials will be released within two weeks after filing for transfer and completion
                of clearance. Release of credentials may be withheld for reasons of suspension, expulsion or non-payment
                of accounts.
              </li>
              <li>Transfer credentials are only issued once, unless the parents or guardians can prove that the documents are
                lost through force major and have not been submitted for enrollment in another school through an affidavit
                loss.
              </li>
              <li>Any child who enrolls in another school without informing PBCSSI or satisfactorily accomplishing the requirements
                for clearance and transfer shall still be considered as officially enrolled. Thus, all applicable fees and
                subject requirements shall continue to be enforced. No credentials will be released until the transfer is
                approved by school authorities.</li>
              <li>The school reserves the right to recommend a child for transfer on the following grounds:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>Membership in fraternities or sororities.</li>
                <li>Is retained for the second time in a grade/year level.</li>
                <li>Has failed to meet school academic and behavioral standards, based upon evaluation of performance and conduct.</li>
              </ol>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-9" id="1G">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> G. Distribution of Cards </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>The schedule for release of report cards every grading period is indicated in the school calendar. During this
                time, the school conducts a parents-teachers meeting so as to provide a venue for parents to confer with
                teachers with regard to their children’s academic performance and behavior in school.</li>
              <li> In case a child has failures, the report card will not be issued. One week ahead of the distribution date,
                the parent/guardian shall receive notice of failure through the class adviser, indicating the subjects in
                which his child failed. The parents are encouraged to come on the distribution day to confer with the teachers
                to help the child cope with his difficulties.</li>
              <li>Parents and guardians are requested to sign at the back of the report card and have it returned immediately
                to the class adviser. Lost cards will be replaced at a fee, and shall require the submission of affidavit
                of loss.</li>
              <li>Tampering with the report card is strictly prohibited. If the report card is damaged, soiled or folded upon
                its return, the parent/guardian shall be required to pay its replacement.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>