<% layout("layout") -%>
<div class="container">
      <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                  WELCOME ADMIN
                </h2>
                <br>
            </div>
      </div>
    </div>
    <div  class="container">
        <div class="col-lg-3 panel panel-info" id="myScrollspy" style="padding-left: 0px; padding-right: 0px;">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" align="center">
            <li><a style="color: #ffffff; background-color: #020531;">Admin Dashboard</a></li>
            <li><a href="/users/new">Create new Account</a></li>
            <li><a href="/manage">Manage Account</a></li>
            <li><a href="#1C">Manage News and Announcements</a></li>
            <li><a href="#1D">Manage Content</a></li>
            <li><a href="#1D">Manage Gallery</a></li>
            <li><a href="#1E">Manage Publications</a></li>
            <li><a href="#1E">View Student Grades</a></li>
            <li><a href="#1E">Account Settings</a></li>
            <li><br></li>
        </ul>
        </div>
      </div>
        



    <div class="row infos" style="margin-top:3%">
    <div class="col-lg-4">
      <img src="/images/Sunbeam.png" width=36% height=36% class="img-responsive" style="padding-right: 20px;float:left;">
      <p style="padding-top: 3%;font-size: 24px; font-weight: bold;">PBC Sunbeam School Inc.</p>
      <p style ="font-size: 20px;">Excellence in Education,</p>
      <p style ="font-size: 20px;">Anchored in Christian Values</p>
    </div>
    <div class="col-lg-4" style="text-align:center;">
      <p style="padding-top: 3%;font-size: 24px; font-weight: bold;"><span class="fa fa-location-arrow" style="padding-right:3%;"></span>Visit Us</p>
      <p style ="font-size: 20px;">Bintog, Plaridel, Bulacan</p>
      <p style ="font-size: 20px;">facebook.com/PBC Sunbeam School</p>
    </div>
    <div class="col-lg-4" style="text-align:center;">
      <p style="padding-top: 3%;font-size: 24px; font-weight: bold;"><span class="glyphicon glyphicon-envelope" style="padding-right:3%;"></span>Contact Us</p>
      <p style ="font-size: 20px;">09264711504</p>
      <p style ="font-size: 20px;">pbcssi@gmail.com</p>
    </div>
  </div> 