<% layout("layout") -%>
  <% include ../partials/Carousel %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            AWARDS
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. General Provisions </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>The honors from Pre-Elementary, Elementary and High school will be designated as WITH HIGHEST HONORS, WITH HIGH
              HONORS, and WITH HONORS.</p>
            <ul>
              <li>All candidates for honors should have at least one year residency in the school including the current school
                year.
              </li>
              <li>They should have completed the entire course in not more than the number of curriculum years as prescribed
                by the Department of Education.</li>
              <li>They should not have failed any subject including non-credits subjects required by the Department of Education.</li>
              <li>Based on the average of the grades in the first three grading periods of the current school year, the pupil/student
                must have an average of 90% or better in the BEC/SEC Learning Areas, must not have a grade lower than 80%
                in any subject during the last three grading periods of the current school year.</li>
              <li>Fourth year honor students must attain a final rating of P (passed) in CAT.</li>
              <li>The candidate must have conducted himself/herself in conformity with school rules and regulations.</li>
              <li>Honors will be announced at least five (5) days before the graduation.</li>
              <li>Any pupils or students who will get the following general average will be declared honors:</li>
              <ul>
                <li>90-92 - with honors</li>
                <li>93-95 - with high honors</li>
                <li>96 and above - with highest honors</li>
              </ul>
              <li>For Kinder III, Grade Six and Fourth Year levels, the valedictorian and salutatorian will be determined by
                using the following: Quality Factors in Choosing the Valedictorian and Salutatorian
              </li>
              <ul>
                <li>CO-CURRICULAR-the sum of co-curricular ranking for the school year based on the activity checklist accomplished
                  by the candidates under the supervision of the class adviser.</li>
                <li>CHARACTER-rank based on the combined assessment of the subject teachers and adviser of the candidate using
                  the character checklist.</li>
              </ul>
              <li>The final rank shall be the sum of the two quality factors multiplied by their respective weights. The first
                and second in rank will be declared valedictorian and salutatorian respectively.</li>
            </ul>

          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. Breaking Ties </a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <p>In case of a tie for Salutatorian and Valedictorian, evaluation shall go down to the next lower grade or year
              level. For example, if there is a tie for a fourth year candidate, then the third year grades shall be evaluated.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> C. Other Awards </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Directors Medal of Excellence - exclusive award given to students who showed excellence in different fields.</li>
              <li>Character Award - is given to elementary pupils and high school students for Most Obedient, Most Trustworthy
                and Most Responsible.</li>
              <li>Loyalty Gold Medals - are given to all high school graduates who have continuously residency in the school
                from Nursery/Kindergarten/Grade 1 to Fourth Year.</li>
              <li>Other awards may be given depending upon the discretion of school officials to recognize participation and
                performance in school clubs and athletic events, civic action and community service and all inter-school
                activities sanctioned by the school.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>