<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            SCHOOL ORGANIZATIONS AND CLUBS
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-6">
        <div class="panel panel-info" style="min-height: 250px">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. Academic Clubs </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <a data-toggle="modal" data-target="#ap" style="color:black">AP Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#fil" style="color:black">Filipino Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#scie" style="color:black">Science Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#eng" style="color:black">English Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#math" style="color:black">Math Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#epp" style="color:black">EPP Club</a>
              </li>
            </ul>

          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-info" style="min-height: 250px">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. Interest Clubs </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <a data-toggle="modal" data-target="#glee" style="color:black">Glee Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#dance" style="color:black">Dance Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#photo" style="color:black">Photographers Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#book" style="color:black">Book Lovers Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#shine" style="color:black">Sunshine Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#sport" style="color:black">Sports Club</a>
              </li>
              <li>
                <a data-toggle="modal" data-target="#edit" style="color:black">Editorial Board</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="ap" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            AP CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/apclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • Upang makapagbigay ng daan sa pagkakaroon ng kabatiran ang bawat mag-aaral sa mga kaganapan sa ating bansa
            <br> • Upang gabayan ang mga mag-aaral sa pag-ukit ng kanilang bahagi sa mga nangyayari sa lipunan, sa pamamagitan
            ng mga gawain
            <br> • Upang maipakita ang pagiging isang tunay na Pilipino, at maging huwarang mamamayan sa loob ng paaralan at
            sambahayan, at sa sambayanang Pilipino.

          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="fil" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            FILIPINO CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/filipinoclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • Upang mapalawak ang paghinang ng kakayahan ng mag-aaral sa larangan ng komunikasyon, sa wikang Filipino
            <br> • Upang matulungan ang mag-aaral na pagyamanin at maipamalas ang kanilang dunong at talent, sa malikhaing pagsusulat
            at pagbuo ng akda gaya ng tula, kuwento at iba pa.
            <br> • Upang mabigyan ng bagong hugis at kulay ang kulturang Pilipino, sa pamamagitan ng talakayan at bahaginan ng
            pananaw
            <br>• Upang mabuo ang pangkat ng mag-aaral na may interes sa asignaturang Filipino, mahubog ang kanilang katauhan
            sa magandang kaugalian, ayon sa turo ng Panginoon.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="scie" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            SCIENCE CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/scienceclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To encourage scientific thinking as can be applied to everyday life
            <br> • To discover special talents and potentials of students through science activities
            <br> • To promote awareness of current local and global issues which affect life, and critically evaluate them
            <br> • To build camaraderie among students through conduct of experiments and other hands-on activities.
            <br> • To provide opportunities for discoveries and inventions

          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="eng" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            ENGLISH CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/englishclub.png " class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To develop skills in communication arts, using English as the medium
            <br> • To provide enjoyable learning avenues for students for more appreciation of the English language
            <br> • To encourage artistic and literary expression, honed by reading and discussing literary pieces, stories, poetry
            from Proverbs & Psalms, and other relevant literature.
            <br> • To provide opportunities to students to develop their leadership skills, and apply the virtues of service
            and brotherhood.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="math" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            MATH CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/mathclub.png " class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To strengthen academic interest in the field of Mathematics and allied subjects
            <br> • To serve as an arena for mathematical discussions, as well as provide a forum for exchange of mathematical
            ideas
            <br> • To develop leadership, cooperation, teamwork through participation in intramurals and inter-school activities
            pertaining to Math subject
            <br> • To stimulate excitement about Mathematics in a friendly, collaborative environment.
            <br> • To promote a culture of service, support, and scaffolding from among club members to students struggling in
            Math.

          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="epp" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            TLE CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/tleclub.png " class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To stimulate interest in Technology and Livelihood Education
            <br> • To provide an avenue to express creativity and innovation, applying the principle of economy
            <br> • To enhance knowledge and skills in preparing high-quality goods/products, which can give livelihood to students
            and their families
            <br> • To develop camaraderie among its members through projects and hands-on activities
          </p>
        </div>
      </div>
    </div>



    <div class="modal fade" id="glee" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            GLEE CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/gleeclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To give students the opportunity to develop and enhance their talents in music;
            <br> • To instill an awareness and liking towards the right type of music;
            <br> • To acquire emotional sensitivity;
            <br> • To awaken the sense of creativeness that will provide an avenue of self-expression;
            <br> • To stimulate growth of character through cooperative effort, self-discipline, responsibility, patience, attention
            to detail and desire for excellence
            <br> • To praise and thank the Lord through music.

          </p>
        </div>
      </div>
    </div>


    <div class="modal fade" id="dance" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            DANCE CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/danceclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> 1. Arouse interest and enhance the children’s talents in dancing
            <br> a. Folk Dance
            <br> Cultivate and preserve Filipino customs and traditions and develop grace and rhythm
            <br> b. Modern Dance
            <br> Update children with the modern trends in dancing and for fitness and body coordination;
            <br> 2. Reinforce the children’s healthy and social relationships with other members of the club; and
            <br> 3. Provide healthful forms of relaxation and recreation.

          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="photo" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            PHOTOGRAPHY CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/photographyclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">

            <br> • To involve students who have an interest in digital photography
            <br> • To show an appreciation for what photography can say.
            <br> • To let students express themselves through the lens of a camera.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="book" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            BOOKLOVERS CLUBS OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/bookloversclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To familiarize students with the following:
            <br> &nbsp&nbsp ◦ Parts of a book
            <br> &nbsp&nbsp ◦ Importance of books
            <br> &nbsp&nbsp ◦ Types of books and the information they provide: Dictionary, Encyclopedia, Thesaurus, Almanac,
            etc.
            <br> • To enlighten students with the library, i.e., its system, resources, use and care.
            <br> • To expose students to relevant reading materials, appropriate for their reading level.
            <br> • To provide other activities that augment the reading experience, i.e., sharing of story read/personal copies
            of classics, film viewing, storytelling, listening to CDs, joining library tour, conducting book drive, drawing,
            painting, paper cutting or poster making.
          </p>
        </div>
      </div>
    </div>
    <div class="modal fade" id="shine" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            SUNSHINE CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/sunshine.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> * Help students grow in their faith and knowledge of the Bible.
            <br>* Help students become young men and woman of Godly moral virtue and character.
            <br> * Help students develop hearts of compassion for those in need.
            <br> * Provide a fun, encouraging place where students can share their beliefs with their peers</p>
        </div>
      </div>
    </div>
    <div class="modal fade" id="sport" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            SPORTS CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/sports.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To develop strong bodies, sound judgment, and self-discipline through engaging in sports activities
            <br> • To indulge students into sports, thereby channeling energy to useful activities
            <br> • To promote values of sportsmanship, cooperation, and teamwork, through competitions within and outside school.
          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="x" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            AP CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/apclub.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • Upang makapagbigay ng daan sa pagkakaroon ng kabatiran ang bawat mag-aaral sa mga kaganapan sa ating bansa
            <br> • Upang gabayan ang mga mag-aaral sa pag-ukit ng kanilang bahagi sa mga nangyayari sa lipunan, sa pamamagitan
            ng mga gawain
            <br> • Upang maipakita ang pagiging isang tunay na Pilipino, at maging huwarang mamamayan sa loob ng paaralan at
            sambahayan, at sa sambayanang Pilipino.

          </p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="edit" role="dialog">
      <div class="modal-dialog modal-m">
        <div class="modal-content">
          <div class="modal-header" style="padding: 3%">
            EDITORIAL CLUB OBJECTIVES
          </div>
          <img style="padding: 3%; border-radius: 30px; height: 600px; width: 600px;" src="images/clubpics/editorial.png" class="img-responsive"
            alt="">
          <p style="padding: 3%">
            <br> • To expose students to the skills of journalism, photography, drawing, publication, and collaboration
            <br> • To provide an opportunity for students to develop their speaking, listening, and writing skills in a setting
            that simulates the work of a news reporter

          </p>
        </div>
      </div>
    </div>