<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            CURRICULAR OFFERINGS
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>A. PRE-ELEMENTARY EDUCATION </a>
            </h4>
          </div>
          <div class="panel-body">
            <p> PBCSSI combined the salient features of traditional method of teaching with the modern, internationally proven,
              interactive and exploratory approaches, giving the curriculum the flexibility and effectiveness that will ensure
              the occurence of learning. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>B. ELEMENTARY EDUCATION </a>
            </h4>
          </div>
          <div class="panel-body">
            <p> Educators today are faced with the challengeof understanding and integrating technology with the traditional
              courses of studies to enhance learning. To meet this need, PBCSSI prepared a curriculum wherein the rather
              regimental courses of study are interwoven with inovative techniques like explanatory and multimedia-aided
              techniques and subjects like Computer, Phonics and Speech.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>C. JUNIOR HIGH SCHOOL EDUCATION </a>
            </h4>
          </div>
          <div class="panel-body">
            <p> The required curriculum with its salient features and additional electives like Computer, Statistics and Journalism
              has been adopted. It is student-centered and ccommunity-oriented organization content is multi-disciplinary.
              It is cognitive, affective, manipulative based. It focuses on critical thinking to promote creativity and productivity
              at all levels. It also give emphasis on technology in Science and Home Economics. It help develops work skills,
              acquire knowledge and form ethics and values essential for making an intelligent choice of future career. Its
              social studies and values development hopes to inculcate love for God and fellowmen, patriotism, nationalism
              and encourage involvement in public and civic affairs.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a>D. SENIOR HIGH SCHOOL EDUCATION </a>
              </h4>
            </div>
            <div class="panel-body">
              <p> Senior High School (SHS) covers the last two years of the K to 12 program and includes Grades 11 and 12. In SHS, students will go through a core curriculum and subjects under a track of their choice. Students will undergo assessments to determine their strengths and interests. These will include an aptitude test, a career assessment exam, and an occupational interest inventory for high schools. Career advocacy activities will also be conducted to help guide students in choosing their specialization or track.</p>
            </div>
          </div>
        </div>
    </div>