<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            FACILITIES
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. General Provisions </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>The school provides the following Learning Areas: Computer Room, Science Laboratory, Technology and Livelihood
                Education Room and Speech Laboratory.</li>
              <li>The Library shall be open to all pupils and students from 8:00AM to 5:00PM. All other learning areas shall
                be available only with the permission of the School Director.</li>
              <li>A teacher must be present when conducting class inside a learning area. If the teacher is absent, the scheduled
                activity shall be cancelled and children must remain in their classroom.</li>
              <li>If the class needs to transfer from their classroom to a learning area:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>The subject teacher must accompany the children when going to the learning area and returning back to their
                  classroom. No transfer shall allow if the subject teacher is not present.</li>
                <li>Pupils and students must move silently in line formation. Any pupil or student who commits truancy shall
                  be sent immediately to the Office of the Principal/Head.</li>
                <li>Lights and fans inside the classroom must be turned off and the room closed/locked.</li>
                <li>Pupils and students must bring their wallets and cell phones, but leave their bags inside the classroom.</li>
              </ol>
              <li>Playing of games, rowdy manners and shouting are strictly prohibited.</li>
              <li>All equipment, devices and materials present in the learning area must be handled with care. Any child who
                damages or destroys these items, either willful or accidental, shall be required to replace then with an
                identical or similar item.</li>
              <li>The learning area cannot be used for school club/organization work, unless with written permission by the Principal/Director.</li>
              <li>After a class, the teacher must ensure that all equipment and materials are stored properly; gas and water
                supply is shut off; lights, electrical/electronic hardware and air conditioners have been turned off and
                that the room is clean and in proper order.</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. Computer Room </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>School bags, Cd’s and diskettes are prohibited from the Computer Rooms.</li>
              <li>Unauthorized Internet surfing, playing computer games, tampering with computer settings or unauthorized installations
                of software is strictly prohibited. Those caught doing so shall be suspended from the computer room for three
                meetings and shall not be allowed to perform make-up work for any missed activities /projects.</li>
              <li>No pupil or student is allowed to transfer, disconnect, re-connect or repair any hardware inside the computer
                room. All defective equipment must be reported to the teacher. Computers marked “defective” must not be used.</li>
              <li>The Computer Room Server is strictly off-limits to pupils and students.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> C. Science Laboratory </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>No pupil or student is allowed to enter the Dispensing Room or open any cabinets without permission of the
                teacher.
              </li>
              <li>Rules for safety in using laboratory equipment, chemicals and devices must be observed at all times.</li>
              <li>All activities involving burners, sharp instruments and dangerous chemicals must be conducted under strict
                supervision of the teacher.</li>
              <li>Playing pranks with delicate equipment or chemicals is strictly prohibited. Those caught doing so shall be
                suspended from the laboratory for three (3) meetings and not be allowed to perform make-up work for any missed
                activities/projects.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> D. Technology and Livelihood Education Room </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All activities involving stoves, ovens, sharp instruments and dangerous chemicals must be conducted under strict
                supervision of the teacher.</li>
              <li>Disposal of waste products such as animals/plant entrails and food scraps must be done properly.</li>
              <li>Playing pranks with the cooking utensils and materials is strictly prohibited. Those caught doing so shall
                be suspended from the TLE room for three (3) meetings and not be allowed to perform make-up work for any
                missed activities/projects.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> E. Speech Laboratory </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Proper discipline must be observed.</li>
              <li>Students must listen to the teacher’s instructions.</li>
              <li>Pupils/students will be responsible to any damaged gadget assigned to him/her.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>