<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            FACULTY AND STAFF
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. Pre-Elementary Department </a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <p>This is some news</p>

          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>B. Elementary Department</a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <p>This is some announcement</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>C. Highschool Department</a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <p>This is some announcement</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> D. Staff </a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <p>This is some announcement</p>
          </div>
        </div>
      </div>
    </div>