<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            HISTORY
          </h1>
          <br>
        </div>
      </div>
      <div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a> HISTORY </a>
              </h4>
            </div>
            <div class="panel-body" align="center">
              <p>PBC Sunbeam School is a ministry of the Plaridel Bible Church. It was established in 1991 with only the pre-elementary
                department. It started with the church’s group of women teaching the children around the local community
                of Bintog. Soon enough they were recognized by the Department of Education. Slowly but surely, the school
                began to grow. It established its elementary department in 1996 and the high school department in 2001. Since
                the school is a ministry of the church, the ownership lies with the church. There is no sole owner of the
                school. The school also is a non-stock, non-profit school, so all the money the parents of the students are
                paying revolves around the school expenditures.</p>

            </div>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a> SCHOOL SEAL </a>
              </h4>
            </div>
            <div class="panel-body" align="center">
              <p>The school seal is a symbol of the PBC Sunbeam School. The touch symbolizes the enlightened leadership of the
                administrators, faculty and staff. The book stands for wisdom and knowledge. It also represent the Bible
                as ultimate source of knowledge from God. The dove represents God the Holy Spirit who serves as our guide
                and great comforter. The number 1991 is the year the school was founded. The name of the school and the place
                where it is located is written around the symbols shown by a circular shape that embodies the holistic goal
                of the school and oneness among the members of Sunbeam School family.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>