<!DOCTYPE html>
<html lang="en">

<head>
  <title>PBC Sunbeam School Inc.</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="MobileOptimized" content="320">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/modern-business.css" rel="stylesheet">
  <link href="/css/icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <img src="/images/sample.png" class="sunbeamlogo">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">PBC SUNBEAM SCHOOL INC.</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/history">History</a></li>
          <li><a href="/vmop">VMPO's</a></li>
          <li><a href="/policies">Policies</a></li> 
          <li><a href="/orgchart">Organizational Chart</a></li> 
          <li><a href="/facilities">Facilities</a></li>
        </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ACADEMICS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/curriculum">Curricular Offerings</a></li>
          <li><a href="/awards">Awards</a></li>
          <li><a href="/services">Services</a></li> 
        </ul>
      </li>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ADMISSION
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admissionreq">Admission Requirements</a></li>
          <li><a href="/scholarships">Scholarships</a></li>
          <% if(!user){ %>
          <li><a href="/register">Register Now</a></li> 
          <% } %>
          </ul>
      </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/faculty">Faculty and Staff</a></li>
          <li><a href="/clubs">Clubs</a></li>
          <li><a href="/activities">Activities</a></li> 
          <li><a href="/news">News / Announcements</a></li> 
          <li><a href="/gallery">Gallery</a></li> 
        </ul>
      </li>
      <% if (!user) { %>

        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
          <ul class="dropdown-menu">
            <li id="pink1"><a href="/signup">Signup</a></li>
            <li id="pink1"><a href="/">Login</a></li>
          </ul>
        </li>
  
       <% } else { %>
  
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name %></a>
          <ul class="dropdown-menu">
          <% if(user.isAdmin && user.superUser){ %>
            <li><a href="/admindashboard">Admin Interface</a></li>                
          <% } %>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="gm_slider_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="gm_slider">          
          <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                

          <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
              <ul>  <!-- SLIDE  -->
                <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1500" data-rotate="0"  data-fstransition="zoomout" data-fsmasterspeed="4500" data-fsslotamount="7" data-saveperformance="off"  data-title="1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/images/h1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                    id="slide-3045-layer-1" 
                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                    data-fontsize="['70','70','70','45']"
                    data-lineheight="['70','70','70','50']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[10,10,10,10]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 5; white-space: nowrap;text-transform:left;"></div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                     id="slide-3045-layer-4" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 6; white-space: nowrap;text-transform:left;"></div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption NotGeneric-Icon   tp-resizeme" 
                     id="slide-3045-layer-8" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;"><i class="pe-7s-refresh"></i> </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-3046" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"data-saveperformance="off"  data-title="2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/images/h2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3" 
                     id="slide-3046-layer-1" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                          data-fontsize="['70','70','70','45']"
                    data-lineheight="['70','70','70','50']"
                    data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[10,10,10,10]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[10,10,10,10]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 8; white-space: nowrap;text-transform:left;"></div>

                  <!-- LAYER NR. 5 -->
                  <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2" 
                     id="slide-3046-layer-4" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 9; white-space: nowrap;text-transform:left;"></div>

                  <!-- LAYER NR. 6 -->
                  <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1" 
                     id="slide-3046-layer-8" 
                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                     data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="text" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 10; white-space: nowrap;text-transform:left;cursor:default;"><i class="pe-7s-mouse"></i> </div>

                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" 
                     id="slide-3046-layer-10" 
                     data-x="['left','left','left','left']" data-hoffset="['680','680','680','680']" 
                     data-y="['top','top','top','top']" data-voffset="['632','632','632','632']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="image" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 11;text-transform:left;border-width:0px;">
              <div class="rs-looped rs-pendulum"  data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="360" data-speed="35" data-origin="50% 50%"><img src="/assets/images/slider/blurflake4.png" alt="" data-ww="['240px','240px','240px','240px']" data-hh="['240px','240px','240px','240px']" width="240" height="240" data-no-retina> </div></div>

                  <!-- LAYER NR. 8 -->
                  <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" 
                     id="slide-3046-layer-11" 
                     data-x="['left','left','left','left']" data-hoffset="['948','948','948','948']" 
                     data-y="['top','top','top','top']" data-voffset="['487','487','487','487']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="image" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 12;text-transform:left;border-width:0px;">
              <div class="rs-looped rs-wave"  data-speed="20" data-angle="0" data-radius="50px" data-origin="50% 50%"><img src="/assets/images/slider/blurflake3.png" alt="" data-ww="['170px','170px','170px','170px']" data-hh="['170px','170px','170px','170px']" width="170" height="170" data-no-retina> </div></div>

                  <!-- LAYER NR. 9 -->
                  <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
                     id="slide-3046-layer-12" 
                     data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']" 
                     data-y="['top','top','top','top']" data-voffset="['200','200','200','200']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="image" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 13;text-transform:left;border-width:0px;">
              <div class="rs-looped rs-rotate"  data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%"><img src="/assets/images/slider/blurflake2.png" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']" width="50" height="51" data-no-retina> </div></div>

                  <!-- LAYER NR. 10 -->
                  <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" 
                     id="slide-3046-layer-13" 
                     data-x="['left','left','left','left']" data-hoffset="['187','187','187','187']" 
                     data-y="['top','top','top','top']" data-voffset="['216','216','216','216']" 
                          data-width="none"
                    data-height="none"
                    data-whitespace="nowrap"
               
                    data-type="image" 
                    data-responsive_offset="on" 

                    data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                    data-textAlign="['left','left','left','left']"
                    data-paddingtop="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"

                    style="z-index: 14;text-transform:left;border-width:0px;">
              <div class="rs-looped rs-wave"  data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%"><img src="/assets/images/slider/blurflake1.png" alt="" data-ww="['120px','120px','120px','120px']" data-hh="['120px','120px','120px','120px']" width="120" height="120" data-no-retina> </div></div>
                </li>
                
  <div class="gm_slider_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="gm_slider">
            <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery"
              style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">


              <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
              <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                <ul>
                  <!-- SLIDE  -->
                  <li data-index="rs-3045" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                    data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1500" data-rotate="0"
                    data-fstransition="zoomout" data-fsmasterspeed="4500" data-fsslotamount="7" data-saveperformance="off"
                    data-title="1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/images/h1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10"
                      class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-3045-layer-1" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                      data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none"
                      data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 5; white-space: nowrap;text-transform:left;"></div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3045-layer-4" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap;text-transform:left;"></div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-3045-layer-8" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap;text-transform:left;cursor:default;">
                      <i class="pe-7s-refresh"></i>
                    </div>
                  </li>
                  <!-- SLIDE  -->
                  <li data-index="rs-3046" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                    data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"
                    data-saveperformance="off" data-title="2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/images/h2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10"
                      class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3" id="slide-3046-layer-1" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                      data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none"
                      data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap;text-transform:left;"></div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-3046-layer-4" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; white-space: nowrap;text-transform:left;"></div>

                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1" id="slide-3046-layer-8" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 10; white-space: nowrap;text-transform:left;cursor:default;">
                      <i class="pe-7s-mouse"></i>
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-3046-layer-10" data-x="['left','left','left','left']"
                      data-hoffset="['680','680','680','680']" data-y="['top','top','top','top']" data-voffset="['632','632','632','632']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                      data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;text-transform:left;border-width:0px;">
                      <div class="rs-looped rs-pendulum" data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="360" data-speed="35" data-origin="50% 50%">
                        <img src="/assets/images/slider/blurflake4.png" alt="" data-ww="['240px','240px','240px','240px']" data-hh="['240px','240px','240px','240px']"
                          width="240" height="240" data-no-retina> </div>
                    </div>

                    <!-- LAYER NR. 8 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-3046-layer-11" data-x="['left','left','left','left']"
                      data-hoffset="['948','948','948','948']" data-y="['top','top','top','top']" data-voffset="['487','487','487','487']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                      data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;text-transform:left;border-width:0px;">
                      <div class="rs-looped rs-wave" data-speed="20" data-angle="0" data-radius="50px" data-origin="50% 50%">
                        <img src="/assets/images/slider/blurflake3.png" alt="" data-ww="['170px','170px','170px','170px']" data-hh="['170px','170px','170px','170px']"
                          width="170" height="170" data-no-retina> </div>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-3046-layer-12" data-x="['left','left','left','left']"
                      data-hoffset="['719','719','719','719']" data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                      data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13;text-transform:left;border-width:0px;">
                      <div class="rs-looped rs-rotate" data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%">
                        <img src="/assets/images/slider/blurflake2.png" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']"
                          width="50" height="51" data-no-retina> </div>
                    </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-3046-layer-13" data-x="['left','left','left','left']"
                      data-hoffset="['187','187','187','187']" data-y="['top','top','top','top']" data-voffset="['216','216','216','216']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on"
                      data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14;text-transform:left;border-width:0px;">
                      <div class="rs-looped rs-wave" data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%">
                        <img src="/assets/images/slider/blurflake1.png" alt="" data-ww="['120px','120px','120px','120px']" data-hh="['120px','120px','120px','120px']"
                          width="120" height="120" data-no-retina> </div>
                    </div>
                  </li>
                  <!-- SLIDE  -->
                  <li data-index="rs-3049" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"
                    data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"
                    data-saveperformance="off" data-title="3" data-param1="" data-param2="" data-param3="" data-param4="" data-param5=""
                    data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="/images/h3.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone"
                      data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500"
                      data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <!-- LAYER NR. 18 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-3049-layer-1" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                      data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none"
                      data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.1,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[10,10,10,10]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[10,10,10,10]" data-paddingleft="[0,0,0,0]" style="z-index: 22; white-space: nowrap;text-transform:left;"></div>

                    <!-- LAYER NR. 19 -->
                    <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-3049-layer-4" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 23; white-space: nowrap;text-transform:left;"></div>

                    <!-- LAYER NR. 20 -->
                    <div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-3049-layer-8" data-x="['center','center','center','center']"
                      data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']"
                      data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                      data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                      data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                      data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 24; white-space: nowrap;text-transform:left;cursor:default;">
                      <i class="pe-7s-diamond"></i>
                    </div>
                  </li>
                </ul>
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
              </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Welcome to PBC Sunbeam School Inc.
        </h1>
        <br>
        <br>
        <h3>A Message From The School Director</h3>
        <br>
        <br>
        <h4>This is some message</h4>
      </div>
    </div>
  </div>
  <div class="news_wrapper top_news_wrapper">
    <center>
      <h2>What's New?</h2>
    </center>
    <br>
    <div class="col-md-6 news_wrapper btm_news_wrapper">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>
            <a href="/news"> NEWS </a>
          </h4>
        </div>
        <div class="panel-body" align="center">
          <h4>News Title</h4>
          <p>This is some news</p>

        </div>

      </div>
    </div>

    <div class="col-md-6 news_wrapper btm_news_wrapper">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4>
            <a href="/news"> ANNOUNCEMENTS </a>
          </h4>
        </div>
        <div class="panel-body" align="center">
          <h4>Announcement Title</h4>
          <p>This is some announcement</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container gallery">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <h2 style="padding-top: 1cm; padding-bottom: 1cm">Our Gallery</h2>
        </center>
      </div>
    </div>

    <div class="gallery-content">
      <div class="samples">
        <div class="col-md-4 sample">
          <div class="image-contain">
            <img src="/images/pictures/IMG_20180426_111901.png" class="img-responsive" />
            <a href="/images/g3.jpg" class="prettyPhoto bttn bttn-view-detail skin-fill-blue">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="/gallery" class="pp_default bttn bttn-go-to skin-fill-blue">
              <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="samples">
        <div class="col-md-4 sample">
          <div class="image-contain">
            <img src="/images/g3.jpg" class="img-responsive" />
            <a href="/images/g3.jpg" class="prettyPhoto bttn bttn-view-detail skin-fill-blue">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="/gallery" class="pp_default bttn bttn-go-to skin-fill-blue">
              <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="samples">
        <div class="col-md-4 sample">
          <div class="image-contain">
            <img src="/images/g3.jpg" class="img-responsive" />
            <a href="/images/g3.jpg" class="prettyPhoto bttn bttn-view-detail skin-fill-blue">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="/gallery" class="pp_default bttn bttn-go-to skin-fill-blue">
              <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="samples">
        <div class="col-md-4 sample">
          <div class="image-contain">
            <img src="/images/g3.jpg" class="img-responsive" />
            <a href="/images/g3.jpg" class="prettyPhoto bttn bttn-view-detail skin-fill-blue">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="/gallery" class="pp_default bttn bttn-go-to skin-fill-blue">
              <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="samples">
        <div class="col-md-4 sample">
          <div class="image-contain">
            <img src="/images/g3.jpg" class="img-responsive" />
            <a href="/images/g3.jpg" class="prettyPhoto bttn bttn-view-detail skin-fill-blue">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="/gallery" class="pp_default bttn bttn-go-to skin-fill-blue">
              <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="samples">
        <div class="col-md-4 sample">
          <div class="image-contain">
            <img src="/images/g3.jpg" class="img-responsive" />
            <a href="/images/g3.jpg" class="prettyPhoto bttn bttn-view-detail skin-fill-blue">
              <span class="glyphicon glyphicon-search"></span>
            </a>
            <a href="/gallery" class="pp_default bttn bttn-go-to skin-fill-blue">
              <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row infos">
    <div class="col-lg-4">
      <img src="/images/Sunbeam.png" width=36% height=36% class="img-responsive" style="padding-right: 20px;float:left;">
      <p style="padding-top: 3%;font-size: 24px; font-weight: bold;">PBC Sunbeam School Inc.</p>
      <p style="font-size: 20px;">Excellence in Education,</p>
      <p style="font-size: 20px;">Anchored in Christian Values</p>
    </div>
    <div class="col-lg-4" style="text-align:center;">
      <p style="padding-top: 3%;font-size: 24px; font-weight: bold;">
        <span class="fa fa-location-arrow" style="padding-right:3%;"></span>Visit Us</p>
      <p style="font-size: 20px;">Bintog, Plaridel, Bulacan</p>
      <p style="font-size: 20px;">facebook.com/PBC Sunbeam School</p>
    </div>
    <div class="col-lg-4" style="text-align:center;">
      <p style="padding-top: 3%;font-size: 24px; font-weight: bold;">
        <span class="glyphicon glyphicon-envelope" style="padding-right:3%;"></span>Contact Us</p>
      <p style="font-size: 20px;">09264711504</p>
      <p style="font-size: 20px;">pbcssi@gmail.com</p>
    </div>
  </div>

  <footer style="background-size: cover; background-color: #eef3fc; margin: 0%; padding-top:4%; padding-bottom:3%;">
    <div class="row">
      <div class="col-lg-12">
        <center>
          <p>Copyright &copy; PBC Sunbeam School Inc. 2018</p>
        </center>
      </div>
    </div>
  </footer>
  <a class="scrollup" title="Go to top">
    <i class="fa fa-scrollup fa-angle-up"></i>
  </a>
  <!-- /.row -->


  <!-- jQuery -->
  <script>
    function deleteCookie() {
      if (confirm("Are you sure?")) {
        eraseCookie("boolean");
        eraseCookie("fullname");
        eraseCookie("PID");
        window.location.reload('/');
      }
    }
    function reg() {
      var a = readCookie("PID");
      if (a == null) {
        alert("Register first to apply membership.")

        window.location.replace("/register")
      }
      else {
        window.location.replace("/membership")
      }
    }
  </script>

  <script type="text/javascript" src="/assets/js/owl.carousel.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/function.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/scrolltop.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.magnific-popup.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.actions.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.carousel.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.kenburn.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.layeranimation.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.migration.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.navigation.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.parallax.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/revol/revolution.extension.slideanims.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/countto/jquery.countTo.js"></script>
  <script type="text/javascript" src="/assets/js/plugin/countto/jquery.appear.js"></script>
  <script type="text/javascript" src="/assets/js/custom.js"></script>
  <!--Main js file End-->

</body>

</html>