<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            ORGANIZATIONAL CHART
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. Organizational Structure</a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <img src="/images/orgchart.png" class="img-responsive">

          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>B. Definition of Positions</a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>School Board – is the church representative to oversee the policies and standards of the school set by the
                church.
              </li>
              <li>PBC Resident Pastor – he serves as the spiritual counselor of the school.</li>
              <li>Director – is the Chief Operation Officer and head of the school. He is directly responsible for the execution
                and implementation of the policies and general plans as laid down by the School Board, as well as those promulgated
                by the Department of Education. As a CEO, he is vested with the authority and responsibility in all matters
                affecting personnel and the student body. He has general supervision in all operations of the school to ensure
                effective results. He represents the school in its external functions.</li>
              <li>Principal/Department Head - assists the Director in management and supervision of all academic and non-academic
                affairs of the department. He/she makes that all policies, rules and regulations are strictly observed within
                his/her given department.</li>
              <li>Finance Officer - serves as the school treasurer who is in-charge of the collection of institution and other
                fees and is responsible in managing the finances of the school.</li>
              <li>Records Officer/Registrar – in-charge of all matters pertaining to the admission and transfer and maintains
                the records and credentials of pupils and students. Also serve as secretary to the school director.</li>
              <li>Guidance Counselor – in-charge of activities related to pupil/student guidance and counseling, testing measurement
                and college placement services.</li>
              <li>Accountant – maintains the school’s financial records and performs systematic accounting services.</li>
              <li>Department Coordinator – assist the school principal in management and supervision of all academic and non-academic
                affairs of the department.</li>
              <li>School Librarian – is the custodian of all the books, magazines, periodicals and other publication in the school
                library.
              </li>
              <li>School Physician – looks after the health of school personnel, pupils and students.</li>
              <li>School Dentist – provides dental care for school personnel, pupils and students.</li>
              <li>School Nurse – assists the physician and dentists in matters related to the medical and dental care of the
                children.
              </li>
              <li>Canteen Manager – operates and maintains the school canteen and bookstore.</li>
              <li>Class Adviser – supervises the classroom, routine learning procedures and other class activities.</li>
              <li>Subject Teacher – deals with matters related to his/her specific teaching area.</li>
              <li>Cashier – in-charge of receiving tuition and other fees payments.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>