<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            POLICIES
          </h1>
          <br>
        </div>

        <div class="col-lg-12">
          <h2 style="text-align: center;">School Rules and Regulations</h2>
          <br>
          <br>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="col-lg-3 side" id="myScrollspy" style="padding-left: 0px; padding-right: 0px;">
        <div class=" panel panel-info">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" style="text-align: center;">
            <li>
              <a style="color: #ffffff; background-color: #020531;">School Rules and Regulations</a>
            </li>
            <li>
              <a href="#1A">A. General Provisions</a>
            </li>
            <li>
              <a href="#1B">B. School ID</a>
            </li>
            <li>
              <a href="#1C">C. School Security</a>
            </li>
            <li>
              <a href="#1D">D. Gate Pass Issuance</a>
            </li>
            <li>
              <a href="#1E">E. Haircut and School Uniform</a>
            </li>
            <li>
              <a href="#1F">F. Attendance</a>
            </li>
            <li>
              <a href="#1G">G. Punctuality</a>
            </li>
            <li>
              <a href="#1H">H. Medical Emergencies</a>
            </li>
            <li>
              <a href="#1I">I. Conduct Grading</a>
            </li>
            <li>
              <a href="#1J">J. Collections and Purchases</a>
            </li>
            <li>
              <a href="#1K">K. School Activities</a>
            </li>
            <li>
              <a href="#1L">L. Communications</a>
            </li>
            <li>
              <a href="#1M">M. Periodical Examinations</a>
            </li>
            <li>
              <a href="#1N">N. Curfew and Off-Limit Areas</a>
            </li>
            <li>
              <a href="#1O">O. Suspension of Classes</a>
            </li>
            <li>
              <a href="#1P">P. Classroom Parties</a>
            </li>
            <li>
              <a href="#1Q">Q. Cleanliness and Orderliness</a>
            </li>
            <li>
              <a href="#1R">R. Canteen</a>
            </li>
          </ul>
        </div>

        <div class="panel panel-info">
          <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205" style="text-align: center;">
            <li>
              <a style="color: #ffffff; background-color: #020531;">School Discipline</a>
            </li>
            <li>
              <a href="#2A">A. General Provisions</a>
            </li>
            <li>
              <a href="#2B">B. Categories of Administrative Penalties</a>
            </li>
            <li>
              <a href="#2C">C. Due Process</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-lg-9" id="1A">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. General Provisions</a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Upon enrollment, all bonafide pupils and students are required to strictly observe the rules and regulations
                of the school as contained in this student handbook and with other directives issued by school authorities,
                and shall be held accountable for any failure to comply with such rules and regulations.</li>
              <li>Parents and guardians are advised to be aware of the contents of this student handbook for their information
                and proper guidance. Promotion, vandalism, hazing or maybe suspended or expelled from the school depending
                on the gravity of the offense.</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1B">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. School ID </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All bonafide pupils and students are required to wear their school ID properly at all times upon entering the
                campus, while in the school and during school activities whether on-campus or off-campus.</li>
              <li>The school shall strictly implement the “No ID – No Entry” policy. Any child who fails to present his ID upon
                entry may be issued an admission slip by the guidance counselor; however, habitual offenders shall be required
                to bring their parents upon notice of the guidance counselor.</li>
              <li>Mutilation, defacement or misuses of the school ID (including sharing with other pupils/students) are strictly
                prohibited. Damaged or lost ID shall be replaced through the guidance counselor office payment for a replacement
                shall be at the treasurer’s office only.</li>
              <li>The school guard or any personnel is authorized to confiscate the ID for reasons of truancy, show of disrespect,
                failure to follow instructions, improper uniform, rowdy behavior, destruction of school property, littering
                or vandalism. The ID shall be turned over to the guidance counselor, who shall request the presence of the
                parent/guardian prior to returning the confiscated ID.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1C">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> C. School Security </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>The school guards are instructed to inspect bags, vehicles and other belongings of pupils, students, parents
                and other visitors who enter the campus.</li>
              <li>The following are strictly prohibited and shall be immediately confiscated: deadly or bladed weapons (including
                cutters), cigarettes, flammable materials, narcotics, prohibited drugs, explosives of any kind, alcoholic
                beverages, pornographic materials.</li>
              <li>For parents, guardians and visitors who wish to enter the campus for valid reasons:</li>
              <ol style="list-style-type: lower-alpha">
                <li>They must present any valid ID and secure a visitor’s pass from the school guard. The school reserves the
                  right to refuse entry to any person who refuses to comply with this rule or presents a threat to the school,
                  its personnel and the student body.</li>
                <li>They are not allowed to talk to teachers during class hours; instead, they must arrange for an appointment
                  through the Principal/Director’s Office.</li>
                <li>Any parent or visitor found loitering in the campus or disturbing teachers, even with the visitor’s pass,
                  will be escorted off the school and recorded in the guard’s logbook.</li>
              </ol>
              <li>Parents and guardians are reminded not to provide their children with expensive gadgets, jewelry and other
                items that may result in snatching, theft or even injury from undesirable characters outside the campus.
                They are requested to train their children not to use cellphones or other electronic devices during class
                hours, while walking along streets or riding transport.</li>
              <li>Untoward incidents must be reported immediately to school authorities. Parents are requested to visit the guidance
                counselor with regard to any problems related to school security.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1D">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> D. Gate Pass Issuance </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>A pupil/student who feels ill may seek the permission from the subject teacher to go to the clinic. The nurse
                may issue a gate pass if the pupil/student needs to go home, but with the approval of the school director.
                Emergency cases need not be approved. However, the adviser/subject teacher must inform the office of the
                principal and director of such incidents.</li>
              <li>Permission to leave the school premises with gate passes issued by the teacher must have the recommending approval
                coming from the principal before it is brought to the director for approval.</li>
              <li>All gate passes issued by any office must be reported to the class adviser/subject teacher and the principal.</li>
              <li>All gate passes issued by any office must be presented to the school guard before leaving the school and must
                be signed by the fetcher.</li>
              <li>High school student are not allowed to go home during lunch break. However, students who live nearby may avail
                of a lunch pass from the school director.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1E">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> E. Haircut and School Uniform </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <b>
                <li>Haircut</li>
              </b>
              <ol syle="list-style-type: lower-alpha;">
                <li>Boys – barber’s cut at 1 – inch above the ear and 2 inches above the collar line, long bangs, excessive sideburns,
                  skinhead and ponytail are not allowed.</li>
                <li>Girls – long hair is tolerated, provided they are held by headband or hair clips and not allowed to cover
                  the face; drooping bangs are not allowed.</li>
                <li>Use of colored head bands, hair beads, hair coloring, hair streaking and excessive hair gel (to make the
                  hair stand-up or spiked) are strictly prohibited. Habitual offenders shall be suspended and given deductions
                  in conduct.
                </li>
                <li>Haircut shall be inspected every first Monday of the month.</li>
                <li>The school will have an official barber to cut the hair of those pupils/students who will fail to have their
                  hair cut done according to schedule prescribe by the school. Parents will be charged for the barber’s fee.</li>
              </ol>
              <br>
              <b>
                <li>School Uniform</li>
              </b>
              <ul>
                <b>
                  <li>Pre-elementary - Grade 3</li>
                </b>
                <ul>
                  <li>For Boys - Black short, white polo jacket style, white undershirt, black shoes, plain white socks</li>
                  <li>For Girls - Red checkered skirt, white blouse-sailor collar front with pleats, white under shirt, black
                    shoes, plain white socks</li>
                </ul>
                <b>
                  <li>Grade 4 - Grade 6</li>
                </b>
                <ul>
                  <li>For Boys - Black short, white polo - polo barong style with slit on the side, white undershirt, black shoes,
                    plain white socks</li>
                  <li>For Girls - Red checkered skirt, white blouse-sailor collar front with pleats, white under shirt, black
                    shoes, plain white socks</li>
                </ul>
                <b>
                  <li>High School</li>
                </b>
                <ul>
                  <li>For Boys - Black pants, white polo - polo barong style with slit on the side, white undershirt, black shoes,
                    plain white socks</li>
                  <li>For Girls - Green checkered skirt, white blouse-sports collar, white under shirt, black shoes, plain white
                    socks
                  </li>
                </ul>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1F">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> F. Attendance </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All bonafide pupils and students are required to attend classes regularly for the duration of the school year.
                A child who incurs absences in excess of 20% of the number of school days for the year may be given a failing
                grade and no credits for the affected subjects.</li>
              <li>Teachers are required to call the roll before starting a class; any child who is not present during the roll
                call or remains outside the classroom in excess of 5 minutes upon the start of the class shall be recorded
                as absent.</li>
              <li>Any child caught outside the classroom during class hours shall be charged with truancy and given the appropriate
                disciplinary sanctions. The following are examples of truancy:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>Leaving the classroom without permission from the subject teacher or in-between class periods.</li>
                <li>Buying and eating in the canteen or loitering around the campus during class hours.</li>
                <li>Conducting club/organization activities without the permission of school authorities.</li>
                <li>Not returning to class after getting permission to leave from the teacher.</li>
                <li>Going to other classrooms to borrow things from schoolmates.</li>
              </ol>
              <li>Parents and guardians are requested to call the school if their child cannot attend classes. The school reserves
                the right to call any parent or guardian if a child does not come to school to confirm his/her absence.</li>
              <li>Upon returning to school, the child is required to submit an excuse letter to the class adviser, signed by
                the parent indicating the reason for the absence. The class adviser reserves the right to refuse to accept
                any child who does not submit the excuse letter, in this case, the child will be sent to the Guidance Office.</li>
              <li>If the child was absent due to sickness or hospitalization, the parent/guardian may attach a doctor’s certification
                to the excuse letter. If the child underwent an operation or was afflicted with a communicable/viral disease,
                the parent is required to submit a doctor’s certification that the child is fit to return to class. The school
                reserves the right to prevent any child from attending classes if no such certification is given and upon
                the advice of the school doctor. In such case, the parent shall be required to take the child home until
                further notice.
              </li>
              <li>Unexcused absences incurred before or after a weekend or holiday shall be deemed as a double absence and given
                the proper sanctions.</li>
              <li>A pupil or student selected for any activity sanctioned by the school shall be excused from attending classes.
                Teachers are required to provide the child with the necessary make-up work, special exams and other remedial
                activities for any schoolwork missed. However, the child must comply with such remedial measures within the
                deadline set by the subject teachers.</li>
              <li>The subject teacher is required to provide make-up work, special exams and other remedial activities for a
                child who was absent due to illness or other valid reasons as contained in the excuse slip. In the case of
                periodical examination, late examinees shall be given a 20% deduction in the raw score; however, no such
                privilege shall be extended to any child who skips classes for no valid reason or who cannot present an excuse
                slip for the absence incurred. In such case, the teacher shall refer the child to the Principal.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1G">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> G. Punctuality </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All bonafide pupils and students are required to exercise punctuality in attending their classes, school activities
                and gatherings. Punctuality shall also include the submission of classroom requirements within deadlines.</li>
              <li>Late comers shall be required to write their names, time of entry and reason for tardiness in a Tardiness Logbook.
                This Logbook shall be open for verification by parents/guardians during Parent-Teacher Meeting.</li>
              <li>Habitual latecomers shall be required to bring their parents/guardians to school for parent-teachers conference
                and imposition of sanctions including suspension.</li>
              <li>Late submission of requirements shall result in grade deductions or imposition of additional work requirements.</li>
              <li>In the case of field trips, those who are left behind are required to stay in campus until dismissal of class.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1H">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> H. Medical Emergencies </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>The school clinic is open to all school personnel and the student body for medical emergencies. In case a patient
                needs to be rushed to a hospital, the school shall provide transportation to the nearest hospital.</li>
              <li>Medical bills for accident shall be covered by the pupil/student insurance plan. In the case of self-inflicted
                injuries or those willfully caused(such as fights or disputes), the offending child’s parents shall be responsible
                for all medical and hospitalization needs of the injured party.</li>
              <li>In case a child needs to be sent home, the school doctor, dentist or nurse shall issue the child a Gate Pass
                and contact the parent/guardian to fetch the child. The child shall not be allowed to go home by himself.
                The Gate Pass must be submitted to the school guard, who will course the pass to the Guidance Office.</li>
              <li>Parents and guardians are advised to inform the school of any relevant afflictions, medical conditions and
                prescriptions that the child will require so that the clinic may administer proper care when needed. </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1I">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> I. Conduct Grading </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All Sunbeamers are expected to exhibit good behavior and right conduct at all times, wherever they may be.
                Examples of desirable characteristics of a true Sunbeamers are as follows:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>Obeys school rules and regulations faithfully.</li>
                <li>Attends classes regularly and practices punctuality in all its aspects at all times.</li>
                <li>Practices courtesy, honestly, obedience and respect for all people, especially to persons of authority in
                  school.
                </li>
                <li>Waits for his turn by forming lines and does not demand service.</li>
                <li>Exhibits a cheerful and wholesome character/behavior.</li>
                <li>Carries with him dignity and restraint and practices good posture and clear speeds when he sits stands or
                  recites in class.</li>
                <li>Practices good grooming and personal hygiene, wears the school uniform properly and sports the correct haircut.</li>
                <li>Avoids unrefined and rowdy behavior, inappropriate display of affection, use of foul language and expressions
                  and disregard for the rights and opinions of their peers and their superiors.</li>
                <li>Observes sportsmanship in all forms of competition; humble in victory and cheerful in defeat.</li>
                <li>Promotes the proper use of school facilities and equipment, supports cleanliness in campus and observes conservation
                  of utilities such as water and electricity.</li>
                <li>Participates actively in school activities, exercising the spirit of cooperation, teamwork and leadership.</li>
              </ol>
              <li>Deductions to the conduct grade may be applied by the Guidance Counselor for infractions of school rules and
                regulations, including:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>1 point deduction for every unexcused absence.</li>
                <li>½ point for every 2 instance of tardiness.</li>
              </ol>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1J">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> J. Collections and Purchases </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All collections (for whatever club, organization or purpose it may serve) must be approved in writing by the
                Director. Any person who collects without proper authorization shall be given immediate disciplinary action,
                including suspension or recommendation for transfer.</li>
              <li>All transactions are to be coursed through the Directors Office only. No teacher, parent, visitor or child
                is authorized to transact on behalf of the school for any items such as t-shirts, magazines, books, supplies
                or equipment.
              </li>
              <li>Solicitations, borrowing of money and jewelry and extraction of favors of any kind by a teacher upon any child
                or parent are strictly prohibited.</li>
              <li>Projects and make-up work for academic deficiencies shall not include the purchase of books, materials, supplies,
                equipment, tools, food and drink, clothing or any other item not relevant to the subject matter.</li>
              <li>All projects that require taking trips, performing interviews or spending money must be approved in writing
                by the Director.</li>
              <li>Bribery of any school personnel is considered a grievous offense and shall result in immediate disciplinary
                action against the child, parent and personnel involved.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1K">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> K. School Activities </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All school activities (varsity, scouting, club/organization, and classroom) must be approved by the Director
                and require the presence of a teacher who shall personally supervise the activity. If the teacher is not
                available, the activity shall not be allowed to proceed even if previously approved by the Director.</li>
              <li>A Parent’s Permit duly approved by the Director and signed by the parents shall be required for all school
                activities, especially those performed off-campus or during non-class hours/weekends. Only those pupils/students
                with the affirmative permission of the parent shall be allowed to participate.</li>
              <li>Participation in field trips, camping and gatherings required by the school should be observed quickly.</li>
              <li>Any class, club or organization which needs to use school facilities such as the classrooms, Computer Room,
                Laboratory, TLE Room or Library must secure the written permission of the Director and be accompanied by
                a teacher-in-charge. They shall be held responsible for the cleanliness and orderliness of the facilities
                used. Any equipment lost or damaged shall be charged to them (including the teacher).</li>
              <li>If transportation is used, pupils and students must strictly observe bus assignments and practice the “buddy
                system” to look after each other. No child is allowed to transfer to another bus without the permission of
                the teacher-in-charge. Also, all participants must return to the school before going home. They cannot get
                off the bus while enroute.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1L">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> L. Communications </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Official notices and announcements from the school are posted on the school bulletin boards. Parents and guardians
                are advised to consult the bulletin boards periodically. Notices, posters and other materials cannot be posted
                unless with the permission of the Director. Unauthorized postings shall be taken down. Posting on school
                walls, doors and windows is strictly prohibited and shall be construed as vandalism.</li>
              <li>Official letters and permits from the school are normally coursed through the children via their class advisers.
                Parents and guardians are requested to fill up the acknowledgement slip and promptly return it to the class
                adviser. Failure to return the slip shall mean that the parent understands/agrees with the contents of the
                communique.
              </li>
              <li>Cellular phones and other electronic gadgets are strictly prohibited on campus.</li>
              <li>In case of emergency, pupils and students may request to use the telephone at the Director/Treasurer’s Office.</li>
              <li>Postal letters and packages may be coursed through the Guidance Office.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1M">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> M. Periodical Examinations </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All pupils and students are required to present a Test Permit before the periodical examination is given. Those
                who paid in cash shall be given a Permanent Test Permit valid for the entire school year.</li>
              <li>In conducting the periodical test:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>The child must have a test folder labeled with his/her name, grade/year & section adviser’s name to serve
                  as cover for test papers during the periodical examination. It must be clean and free for any unnecessary
                  writings for markings.</li>
                <li>All bags, books and other belongings are to be placed at the front of the room.</li>
                <li>The teacher shall strictly enforce seating arrangement.</li>
                <li>Silence is to be observed by all before, during and after the examination.</li>
                <li>Test schedules are to be observed strictly. No child is allowed to leave the testing room until the specified
                  time is met.</li>
                <li>The teacher may extend the time for a test, provided it does not exceed 20 minutes and is applied to all
                  the pupil/students taking the same test.</li>
                <li>The teacher may extend the time for a test, provided it does not exceed 20 minutes and is applied to all
                  the pupil/students taking the same test.</li>
              </ol>
              <li>Cheating is strictly prohibited. Any child caught cheating in any form shall immediately be given a test score
                of zero (0) and additional disciplinary action.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1N">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> N. Curfew and Off Limit Areas </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>All after-class activities such as CAT, practices, glee club practice and other authorized club activities
                must be conducted within the time and day schedule as approved by the School Director. Students are only
                allowed to stay up to 5:30pm.</li>
              <li>Pupils and students are required to vacate their classroom after classes and move to the school grounds (except
                when using library facilities).</li>
              <li>The curfew is 5:00pm, after which all pupils and students must leave the campus. Those waiting for their parents/guardians
                to fetch them may wait at the guard area. They are not allowed to loiter around the campus after curfew.</li>
              <li>No school activities shall be scheduled or allowed after the curfew period.</li>
              <li>No pupil or student is allowed in campus during weekends or holidays without the permission of the Director
                and must be accompanied by a teacher-in-charge. The school guard will not allow any unauthorized pupils or
                students into the campus.</li>
              <li>The following are off-limits to pupils and students:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>All Administrative Offices</li>
                <li>Faculty Room</li>
                <li>Stock Room</li>
              </ol>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1O">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> O. Suspension of Classes </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>As per DepEd Order No. 43,s.2012, classes shall be suspended as follows:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>When Typhoon Signal no.1 is raised by PAGASA, public and private pre-school and kindergarten classes in affected
                  areas shall be automatically cancelled or suspended.</li>
                <li>When Typhoon Signal no.2 is raised by PAGASA, public and private pre-school, kindergarten, elementary and
                  secondary classes in affected areas shall be automatically cancelled or suspended.</li>
                <li>When Typhoon Signal no.3 is raised by PAGASA, work in all DepEd offices in the affected areas shall be automatically
                  cancelled or suspended.</li>
                <li>In the absence of typhoon signal warning from PAGASA, localized cancellations/suspension of classes in both
                  public and private schools and work in government offices may be implemented by local chief executives
                  in their capacity as chairpersons of the Local Disaster Risk Reduction and Management (LDRRMC).</li>
                <li>Parents are advised to check for media advisories coming from PAGASA, NDRRMC, LDRRMCs, LDRRMCs or the Office
                  of the President.</li>
              </ol>
              <li>Classes shall automatically be suspended after the occurrence of a fire or earthquake that directly affects
                the holding of classes. Parents and guardians are advised to wait for announcements from school authorities.</li>
              <li>In case suspension of classes occurs while classes are ongoing, the children will stay in class until fetched
                by their parents and guardians.</li>
              <li>In case suspension occurs on periodical examination day, all test schedules shall be moved to the day when
                classes resume.
              </li>
              <li>Parents and guardians have the ultimate responsibility for determining whether their children should go to
                school, even if no order for the suspension of classes has been issued, if they feel that travelling to or
                from school will place their children at risk.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1P">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> P. Classroom Parties </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>For Classroom Christmas Parties:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>The party must be conducted within the specified schedules – no extensions shall be allowed. Doors and windows
                  must remain open. Desks and tables cannot be removed from the classroom.</li>
                <li>Only enough food for participants should be prepared. The class adviser and officers shall oversee the quality
                  of the food. Alcoholic drinks are strictly prohibited.</li>
                <li>Personal audio equipment may be used, but a Gate Pass must be scored from the School Director. The owner
                  shall be held liable for damage to school property caused by such equipment, while the school shall not
                  be responsible for the loss or damage of such equipment.</li>
                <li>Rowdy, rough or lewd games are strictly prohibited.</li>
                <li>The room must be cleaned and set in a proper order at the end of the party. Trash must be segregated and
                  taken down to the trash area at the ground floor. Excess food must be disposed of properly.</li>
              </ol>
              <li>Birthday parties can only be held upon permission of the school Director and should never disrupt classes;
                thus, it can only be held during recess or lunch break. The school reserves the right to refuse a request
                for a party to be held for valid reasons.</li>
              <li>Parents and guardians are requested to serve only nutritious food and prepare enough food only for those who
                will attend; excess food must be brought home; spoiled food must be disposed of properly.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1Q">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> Q. Cleanliness and Orderliness </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Cleanliness and orderliness must be observed inside the campus at all times.</li>
              <li>All pupils and students must practice conservation of water and electricity; thus, electric fans, lights, computers
                and air cons must be turned off when not in use.</li>
              <li>The following are strictly prohibited and shall result in disciplinary action:</li>
              <ol style="list-style-type: lower-alpha;">
                <li>Littering and vandalism</li>
                <li>Unauthorized removal or movement, damage, loss and/or destruction of school property, such as desks, blackboards,
                  computers, electrical appliances and fixtures, tables and other equipment.</li>
                <li>Using personal electrical equipment like radios, CD’s and cell phone chargers.</li>
                <li>Playing rough games, loitering and hooliganism.</li>
                <li>Throwing of food, paper, sanitary napkins and other materials into drains, toilets and other plumbing fixtures
                  that may result in clogging of bowls and drains.</li>
              </ol>
              <li>Class adviser and officers must check that the room is clean and in order, lights and electric fans are turned
                off, trash is taken out and the blackboard, chalk ledge and eraser are cleaned.</li>
              <li>If a room is assigned/provided for use in extra/co-curricular activities, it shall be the responsibility of
                the teacher-in-charge, and/or club/organization officers to observe these rules on order and cleanliness
                of the room at all times.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3" id="myScrollspy">

      </div>
      <div class="col-lg-9" id="1R">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> R. Canteen </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>Pupils and students must observe the FIRST COME-FIRST SERVED policy by forming lines ate the food counter.</li>
              <li>Eating utensils of the canteen cannot be taken out of the canteen premises.</li>
              <li>All pupils and students must maintain order and cleanliness while eating in the canteen and in the rooms designated
                as lunch areas.</li>
              <li>Self-bussing is to be practiced.</li>
              <li>Loitering in the canteen, especially during class hours, is strictly prohibited.</li>
              <li>Pupils and students are requested not to linger inside the canteen after eating so that others who wish to
                eat may use the seating space.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 0%">
      <div class="row">
        <div class="col-lg-3" id="myScrollspy">

        </div>
        <div class="col-lg-9">
          <h2 style="text-align: center;">School Discipline</h2>
          <br>
          <br>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="col-lg-3 " id="myScrollspy ">

      </div>
      <div class="col-lg-9 " id="2A ">
        <div class="panel panel-info ">
          <div class="panel-heading " style="text-align:center; ">
            <h4>
              <a> A. General Provisions</a>
            </h4>
          </div>
          <div class="panel-body ">
            <ul>
              <li>“Good Discipline” refers to the desired and expected norms of conduct of every SUNBEAMER. It involves helping
                children learn right from wrong by providing logical consequences for appropriate and inappropriate behaviors.
                As provided by Education Act of 1982 section 15, the following are the Duties and Responsibilities of Students:</li>
              <ol style="list-style-type: lower-alpha; ">
                <li>Exerts his outmost to develop his potentialities for service, particularly by undergoing an education suited
                  to his abilities, in order that he may become an asset to his family and society.</li>
                <li>Uphold the academic integrity of the school endeavor to achieve academic excellence and abide the rules and
                  regulations governing his academic responsibilities and moral integrity.</li>
                <li>Promote and maintain the peace and tranquility of the school by observing the rules and discipline, and by
                  exerting efforts to attain harmonious relationships with fellow students, the teaching and academic staff
                  and other school personnel.</li>
                <li>Participate actively in civic affairs and in the promotion of the general welfare, particularly in the social,
                  economic and cultural development of his community and in the attainment of a just, compassionate and orderly
                  society.
                </li>
                <li>Exercise his rights responsibly in the knowledge that he is answerable for any infringement or violation
                  of the public welfare and of the rights of others.</li>
              </ol>
              <li>Authority means the power to enforce law, exact obedience and command. Executive Order No. 209 other known
                as THE FAMILY CODE OF THE PHILIPPINES Art. 218 provide that, “The school, its administrators and teachers,
                or the individual, entity or institution engaged in child care shall have special parental authority and
                responsibility over the minor child while under their supervision, instruction or custody. Authority and
                responsibility shall apply to all authorized activities whether inside or outside the premises of the school,
                entity or institution.”</li>
              <li>School administrators, teachers and personnel are entrusted to enforce and maintain discipline as persons of
                authority; however, the parents and guardians must realize that they have a social and moral obligation to
                assist and cooperate with school authorities to foster order and discipline.</li>
            </ul>

          </div>

        </div>
      </div>
      <div class="col-lg-3 " id="myScrollspy ">

      </div>
      <div class="col-lg-9 " id="2B ">
        <div class="panel panel-info ">
          <div class="panel-heading " style="text-align:center; ">
            <h4>
              <a> B. Categories of Administrative Penalties </a>
            </h4>
          </div>
          <div class="panel-body ">
            <p>The following administrative penalties shall be applied upon pupils and students who incur infractions of school
              rules and regulations and after proper investigation by school authorities:</p>
            <ul>
              <li>Suspension – the child is denied attendance of classes for a period not exceeding 20% of the number of school
                days. No make-up work or special tests shall be provided. There are two kinds of suspension:</li>
              <ol style="list-style-type: lower-alpha; ">
                <li>Punitive – the child is required to report to school for detention or performance of community service under
                  the supervision of the Prefect of Discipline.</li>
                <li>Preventive – the child cannot be allowed to enter the campus, such as when the school believes that his/her
                  attendance may result in disruption of school operations or pose a risk to any person in school. At such
                  case, the child shall be under the supervision of the parent/guardian.</li>
              </ol>
              <li>Exclusion - wherein the child is dropped from enrollment and the school issues transfer credentials immediately.
                This shall be the result of a summary investigation and need not require approval of the Department of Education.</li>
              <li>Expulsion - an extreme penalty wherein the child is prevented from admission to any private or public school
                in the Philippines and requires the approval of the Department of Education.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 " id="myScrollspy ">

      </div>
      <div class="col-lg-9 " id="2C ">
        <div class="panel panel-info ">
          <div class="panel-heading " style="text-align:center; ">
            <h4>
              <a> C. Due Process </a>
            </h4>
          </div>
          <div class="panel-body ">
            <ul>
              <li>It is the prerogative of the school to issue warnings to pupils and student who break rules and regulations;
                however, gross or habitual infractions shall result in immediate disciplinary action.</li>
              <li>Disciplinary action shall be taken only after a proper investigation of the case has been conducted by the
                Principal/Department Head in consultation with the Class Adviser and School Director and the knowledge of
                the parent/guardian. Thus, parents and guardians must come immediately to school if summoned for discussion
                of the results of the investigation.</li>
              <li>In case of exclusion, the case shall be filed by the Guidance Counselor for one school year to afford the Department
                of Education the opportunity to review the case and respond to amy appeals.</li>
              <li>Cases involving expulsion shall be referred to the Department of Education Regional Office ten days after termination
                of the investigation.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>