<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            SCHOLARSHIPS
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. Academic Scholarships </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>PBCSSI prepatory and grade 6 scholars shall enjoy the following when they enroll for grade 1 or grade 7</li>
              <ul>
                <li>Valedictorian / Rank 1 - 100% discount on tuition fees</li>
                <li>Salutatorian / Rank 2 - 50% discount on tuition fees</li>
                <li>1st Honorable Mention / Rank 3 - 25% discount on tuition fees</li>
              </ul>
            </ul>

          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. ESC Grant </a>
            </h4>
          </div>
          <div class="panel-body" align="center">
            <p>Continuous financial aid for grade 7 - grade 10 students amounting to Php 8,500 and is automatically deducted
              from their tuition fees.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a>C. Patronage Discounts </a>
            </h4>
          </div>
          <div class="panel-body">
            <ul>
              <li>For every 3 enrollees from the same family, the youngest one gets 50% discount on tuition fees.</li>
              <li>For every 5 or more enrollees from the same family, the youngest one gets full discount on tuition fees.</li>
              <li>Daughters and sons of teachers also get 25% discount on tuition fees.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>