<% layout("layout") -%>
  <% include ../partials/Carousel %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            SERVICES
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> A. LIBRARY SERVICES </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>The school library is compiled with the minimum selections required by the DepEd for each level. It has a card
              catalog and reading areas to suit every students' needs. It is also made air-conditioned and comfortable to
              provide an environment conducive to learning. The librarian is on stand by to help any students in need. Students
              can go to the library anytime it is open as long as it is not in conflict with their class schedules.</p>
          </div>

        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> B. GUIDANCE / COUNSELING </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>PBCSSI has a guidance counselor and a resident pastor to help students solve various problems in school or home.
              The office of the guidance counselor and the resident pastor is open anytime and the students are encouraged
              to confess their worries and problems. Both the guidance counselor and the resident pastor has experience and
              the capacity to help the students in different aspects.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> C. SECURITY SERVICES </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>The PBCSSI security guards and local barangay police shall see to it that once inside the campus the students
              are secured and free from physical harm. They will also be available for help in any case of any untoward incident
              or problems.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> D. CANTEEN SERVICES </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>The PBCSSI Canteen is operated by the school administrative staff. They serve as an arm of the school in providing
              the students the right kind of food for the growing children. The canteen personnel complies with the standard
              quality of food as prescribed by the government and food health organization. Food items are being sold at
              very reasonable prices. Proper eating habits and table manners in public eating places are directly and indirectly
              taught.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-info">
          <div class="panel-heading" style="text-align:center;">
            <h4>
              <a> E. LABORATORY AND SPORTS SERVICES </a>
            </h4>
          </div>
          <div class="panel-body">
            <p>The computer laboratory is airconditioned and offers a 2:1 student to computer ratio. The student can avail all
              of the laboratory facilities as may be required by the subjects under the supervision of their respective subject
              teachers. PBCSSI sports facilities and equipments are also at the students' use or disposal as part of their
              privelege and requirement so long as the student is enrolled and follows the rules of use and return.</p>
          </div>
        </div>
      </div>
    </div>