<% layout("layout") -%>
  <% include ../partials/Carousel %>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            VISION, MISSION, PHILOSOPHY & OBJECTIVES
          </h1>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a> VISION </a>
              </h4>
            </div>
            <div class="panel-body" align="center">
              <%- visionmission.slice(-1)[0].vision %>
            </div>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a> MISSION </a>
              </h4>
            </div>
            <div class="panel-body" align="center">
              <%- visionmission.slice(-1)[0].mission %>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a> PHILOSOPHY </a>
              </h4>
            </div>
            <div class="panel-body" align="center">
              <p>PBC Sunbeam School believes that a child is a gift from God created from His image and endowed with unique
                talents and abilities which must be nurtured in accordance with the highest standards of excellence and in
                conformance with God’s plans.</p>
              <br>
              <p>
                “Train up a child the way he should go. When he grows up, he will not depart from it.” Proverbs 22:6
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center;">
              <h4>
                <a> OBJECTIVES </a>
              </h4>
            </div>
            <div class="panel-body" align="left">
              <ol style="list-style-type: upper-roman;">
                <b>
                  <li>Pre-Elementary Education</li>
                </b>
                <ul>
                  <li>To develop the child in all aspects (physical, social, moral, and spiritual, emotional, cognitive) so that
                    he/she may be better prepared to adjust and cope with the situation within the context of experience.</li>
                  <li>To maximize the child’s fullest potential through a variety of carefully selected and meaningful experiences
                    considering his/her interest and capabilities.</li>
                  <li>To develop the child in all aspects so that he/she becomes a self-propelling, thinking and contributing
                    individual able to make decisions that will prepare him/her more complex demands of the future.</li>
                </ul>
                <br>
                <b>
                  <li>Elementary Education</li>
                </b>
                <ul>
                  <li>To nurture the knowledge and develop the skills, attitudes, and values essential to personal development
                    necessary for living in and contributing to a developing and changing social milieu.</li>
                  <li>To provide learning experiences which increase the child’s awareness of and responsiveness to the changes
                    in and just demands of society; and to prepare him/her for constructive and effective involvement.</li>
                  <li>To promote and intensify the child’s knowledge of, identification with, and love for the nation and the
                    people to which he/she belongs.</li>
                  <li>To promote work experiences which will develop the child’s orientation to the world of work and creativity
                    and prepare himself/herself to engage in honest and gainful work.</li>
                </ul>
                <br>
                <b>
                  <li>Secondary Education</li>
                </b>
                <ul>
                  <li>To continue to promote the objectives of elementary education by shifting its emphasis from the mastery
                    of basic tools of learning, expression and understanding to the use and extension of the tools further
                    exploring and acquiring intellectual, social, moral and physical concepts, ideal, attitudes and skills
                    in order to develop the whole human being.</li>
                  <li>To discover and enhance, in addition, the different aptitudes and interest of the individual student so
                    as to equip him/her with skills to productive endeavor and thus prepare him/ her for work in the real
                    world and/or for further formal studies in higher education.</li>
                </ul>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>